*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

.index-container {
    display: grid;
    height: 100vh;
    grid-template: 
    "nav" 5%
    "header" 1fr 
    "main" 1fr
    "footer" 1fr
    / 1fr;
}

nav.header {
    grid-area: nav;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid white;
}

nav.header a {
    text-decoration: none;
    color: white;
} 

header {
    grid-area: header;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}

header section.header-image img {
    border-radius: 100px;
    border: 1px solid white;
    margin: 20px 0;
}

header section.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

main {
    grid-area: main;
    margin-top: 25px;
}

main section.main-volunteer-work {
    margin-left: 80px;
}

main h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

main section.main-skills {
    margin-top: 20px;
    margin-left: 80px;
}

main section.main-about-me {
    margin-top: 20px;
    margin-left: 20px;
}

footer {
    grid-area: footer;
}

nav.footer {
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    
}

nav.footer a {
    color: white;
    text-decoration: none;
}